#page-mod-gcanvas-view #toolbar .item {
    width:100%;
    height:40px;
    line-height: 40px;
    vertical-align: middle;
    margin-bottom: 5px;
    border-bottom: 1px solid #364973;
    text-align: center;
}

#page-mod-gcanvas-view #toolbar i {
    color: #61A6E9;
    font-size: 2em;
}

#page-mod-gcanvas-view #toolbar {
    background: #283147;
    min-height: 500px;
    width: 70px;
    border: 1px solid #354059;
    border-right: none;

}

#page-mod-gcanvas-view canvas {

}